{{ define "main" }}
{{ partial "hero" . }}
<div class="fade-wrapper">
    <div class="sitemap-content wrapper padding-top-4 padding-bottom-4">
        <div class="flex flex-column flex-row-m">
            <div class="w-100 w-50-m">
                <h3>Pages</h3>
                <div class="sitemap-nav-list">
                    {{ with site.Menus.main }}
                    <ul>
                    {{ range . }}
                    {{ if .HasChildren }}
                    <li>
                        <a href="{{ .URL | absLangURL}}" aria-label="{{ .Name }}" title="{{ .Name }}">{{ .Name }}</a>
                        <ul>
                            {{ range .Children }}
                            <li>
                            <a href="{{ .URL | absLangURL}}" aria-label="{{ .Name }}"
                        title="{{ .Name }}" tab-index="-1">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li>
                        <a href="{{ .URL | absLangURL }}" aria-label="{{ .Name }}"
                        title="{{ .Name }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
            <div class="w-100 w-50-m">
            </div>
        </div>
    </div>
</div>
{{ end }}