{{ define "main" }}
    {{ partial "hero" .  }}
    <div class="wrapper-wide single-service padding-top-6 padding-bottom-6">
        <div class="flex flex-column-reverse flex-row-m">
            <div class="service-sidebar w-100 w-30-m">
                <h3 class="no-margin">Services</h3>
                <ul class="service-sidebar__nav">
                    {{ range where .Site.Pages "Section" "services"}}
                        {{ if ne .Permalink "/services/" }}
                            <li class="service-sidebar__list-item"><a href="{{ .Permalink }}" class="service-sidebar__link">{{ .Title }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="w-100 w-70-m flow">
                {{ .Content  }}
            </div>
        </div>
    </div>
    {{ partial "cta" . }}
{{ end }}