.breadcrumbs-nav {
  background-color: $primary-color;
  color: $white;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    position: relative;

    &::after {
      position: absolute;
      top: 2px;
      left: -4px;
      content: ">";
    }
  }

  li:first-of-type {
    &::after {
      display: none;
    }
  }

  a {
    color: $white;
    margin: 0 $ic-200;
    text-decoration: none;
    font-size: $ic-200;
  }
}

.single-post,
.single-product,
.simple-hero {
  .breadcrumbs-nav {
    background-color: $white;
    display: none;

    @include breakpoint(md) {
      display: flex;
    }

    &__wrapper {
      width: 100%;
      padding: 0;
    }

    li {
      &::after {
        color: $primary-color;
      }
    }

    a {
      color: $black;
    }
  }
}

.single-product {
  .breadcrumbs-nav {
    background-color: $light-gray;

    li:first-of-type {
      a {
        margin-left: 0;
      }
    }
  }
}
