.business-info {
  display: none;

  @include breakpoint(md) {
    display: flex;
  }

  &__wrapper {
    flex-direction: column;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__col {
    margin: 0 $ic-200;
    // flex: 1;

    @include breakpoint(lg) {
      margin: 0 $ic-300;
    }
  }

  &__col-content {
    margin-left: $ic-200;
  }

  &__address {
    margin-left: 0;
  }

  p {
    margin: 0;
    font-size: $ic-200;

    @include breakpoint(md) {
      font-size: $ic-100;
    }

    @include breakpoint(xl) {
      font-size: $ic-200;
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }
}

.site-cta {
  .business-info {
    display: flex;

    &__col {
      margin: $ic-200 0;

      @include breakpoint(md) {
        margin: 0 $ic-200;
      }
    }
  }
}
