.products-list {
  margin-block: 0;
  padding-inline-start: 0;
}

.products-list__item {
  border: 1px solid $primary-color;
  // max-width: 20rem;
  margin-top: 0;
  list-style-type: none;
}

.products-list__link {
  padding: $ic-300;
  text-decoration: none;
  transition: 0.3s ease;
  block-size: 100%;
  inline-size: 100%;

  &:hover,
  &:focus {
    background-color: $light-gray;
    box-shadow: 5px 5px 25px rgba(25, 25, 96, 0.25);
  }
}

.products__wrapper {
  margin-block: $ic-700;
}

.products__card {
  background: $primary-color;
  color: $white;
  position: relative;
  padding: $ic-300;
  margin-block-end: $ic-500;
}

.products__card img {
  inline-size: 80%;
  max-inline-size: clamp(350px, 4vw, 500px);
  margin: auto;
}

.products__card p {
  margin: 0 0 $ic-200 0;
}

.products__card ul {
  @include breakpoint(md) {
    columns: 2;
  }
}

.products__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  background-color: $black;
  transform: translate(16px, 16px);
}

.products__card:nth-of-type(even) {
  background: $black;

  &::after {
    background-color: $primary-color;
  }
}