.testimonial__icon {
  background-color: $primary-color;
  height: $ic-700;
  width: $ic-700;
  border-radius: 50%;
  position: relative;
  top: -35px;
  display: grid;
  place-items: center;

  svg {
    width: $ic-400;
    height: $ic-400;
    fill: $white;
  }
}

.testimonial__col {
  background-color: $white;
  color: $black;
  padding: $ic-300;
  max-width: none;
  border-radius: $radius;
}