.testimonial {
  &__icon {
    background-color: $primary-color;
    height: $ic-700;
    width: $ic-700;
    border-radius: 50%;
    position: relative;
    top: -35px;
    display: grid;
    place-items: center;

    svg {
      width: $ic-400;
      height: $ic-400;
      fill: $white;
    }
  }

  &__col {
    background-color: $white;
    color: $black;
    padding: $ic-300;
    flex: 1 1 300px;
    margin: $ic-200;
  }

  h3 {
    color: $primary-color;
  }
}
