{{ range $index, $element := .Params.featured }}
{{ if modBool $index 2 }}
<section class="full-width-featured authorized-dealer" style="background-image: url('/images/background-images/{{ .background }}')">
    <div class="full-width-featured__content wrapper-wide padding-top-6 padding-bottom-6">
      <div class="fade-up flex flex-center flex-column flex-row-m">
        <div class="full-width-featured__image w-100 w-30-m">
          <img src="/images/{{ .image }}" alt="{{ .image_alt }}" width="360" height="360" loading="lazy">
        </div>
        <div class="w-100 w-70-m">
          <h2 class="full-width-featured__heading text-white no-margin">{{ .heading }}</h2>
          <div class="full-width-featured__underline underline white-underline"></div>
          <p>{{ .body | markdownify }}</p>
        </div>
      </div>
    </div>
</section>
{{ else }}
{{ partial "full-width-feature-reverse" . }}
{{ end }}
{{ end }}