<section class="testimonials bg-gray padding-top-6 padding-bottom-6">
    <div class="fade-up">
        <div class="wrapper-wide">
            <h2 class="no-margin">Testimonials</h2>
            <div class="underline"></div>
        </div>
        <div class="cards testimonial wrapper-wide margin-bottom-4">
            <div class="cards__wrapper">
                {{ range .Params.testimonials }}
                <blockquote class="testimonial__col">
                    <div class="testimonial__icon">{{ partial "svg-icons/quote.svg" . }}</div>
                    <p>{{ .testimonial }}</p>
                    <h3 class="h5">{{ .author }}</h6>
                </blockquote>
                {{ end }}
            </div>
        </div>
    </div>
</section>