{{ define "main" }}
{{ partial "hero" . }}
<div class="wrapper flex flex-center padding-top-6 padding-bottom-6">
    <div class="financing-module" style="box-sizing: border-box; margin: 0px;
text-align: left; border-width: 5px; border-style: solid; border-color:
#509e2f; width: 650px; border-radius: 10px; padding-top: 4px;"><div><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/headers/h
eader_640.jpg?v=3.0.611" alt="Financing Options from GreenSky"
tabindex="0" /></div><div><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/product_h
eaders/hvac_product_header_640.jpg?v=3.0.611" width="640" height="150"
alt="Finance Your HVAC Project" tabindex="0" /></div><div><a
href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&
merchant=81039567&dealerplan=6124&channel=External-Button-03"
target="_blank" tabindex="0"><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/612
4_640x50.jpg?v=3.0.611" width="640" height="50" alt="6124 - Equal
Payments, 0% for 24 Months" /></a></div><div><a
href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&
merchant=81039567&dealerplan=6136&channel=External-Button-03"
target="_blank" tabindex="0"><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/613
6_640x50.jpg?v=3.0.611" width="640" height="50" alt="6136 - Equal
Payments, 0% for 36 Months" /></a></div><div><a
href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&
merchant=81039567&dealerplan=6148&channel=External-Button-03"
target="_blank" tabindex="0"><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/614
8_640x50.jpg?v=3.0.611" width="640" height="50" alt="6148 - Equal
Payments, 0% for 48 Months" /></a></div><div><a
href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&
merchant=81039567&dealerplan=6160&channel=External-Button-03"
target="_blank" tabindex="0"><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/616
0_640x50.jpg?v=3.0.611" width="640" height="50" alt="6160 - Equal
Payments, 0% for 60 Months" /></a></div><div><img
src="https://www.greensky.com/merchantkit/images/finance_buttons/footers/f
ooter_640.jpg?v=3.0.611" width="640" height="48" alt="Financing for
GreenSky&#169; credit programs is provided by federally insured, federal
and state chartered financial institutions without regard to race, color,
religion, national origin, sex or familial status. NMLS #1416362; CT
SLC-1416362; NJMT #1501607 C22" tabindex="0" /></div></div>
</div>
{{ end }}