{{ define "main" }}
    {{ partial "hero" . }}
    <div class="block">
        <div class="wrapper flow">
            <div>
                <h2 class="no-margin">{{ .Params.intro.heading }}</h2>
                <div class="underline"></div>
            </div>
            <p>{{ .Params.intro.copy }}</p>
            <div class="hero__carrier-logo">
                <img src="/uploads/carrier-logo.png" alt="Carrier Logo" width="300" height="100">
            </div>
        </div>
        <div class="wrapper padding-top-4">
            <ul class="products-list auto-grid gap-sm">
                {{ range .Pages }}
                <li class="products-list__item">
                    <a class="products-list__link" href="{{ .Permalink }}">
                        <h3 class="h5">{{ .Title }}</h3>
                        <img src="https://res.cloudinary.com/qualityheating/image/upload/f_auto,q_auto{{ .Params.seo.featured_image }}" alt="{{ .Params.seo.featured_image_alt }}" width="640" height="360" loading="lazy">
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ partial "cta" . }}
{{ end }}